<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Cadastrar Livro</h1>
    <form method="post">
        <input type="text" name="titulo" placeholder="Título" required>
        <input type="text" name="autor" placeholder="Autor" required>
        <input type="number" name="ano" placeholder="Ano" required>
        <input type="number" name="total_copias" placeholder="Total de cópias" min="1" required>
        <input type="submit" value="Cadastrar">
    </form>
    <a class="btn" href="{{ url_for('index') }}">Voltar</a>
</div>
</body>
</html>