<!DOCTYPE html>
<html>

<head>
    <title>Livros Emprestados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Biblioteca</h1>
        <p style="text-align:center;">
            Total de livros cadastrados: {{ total_livros }} | Total de livros emprestados: {{ total_emprestados }}
        </p>
        <br>
        <nav>
            <a href="{{ url_for('index') }}">Todos Livros</a>
            <a href="{{ url_for('cadastrar') }}">Cadastrar</a>
            <a href="{{ url_for('reservados') }}">Emprestados</a>
        </nav>

        <!-- Container para o input do autocomplete -->
        <form method="get" action="{{ url_for('buscar') }}" id="search-form">
        <input type="text" name="q" placeholder="Buscar por título ou autor" value="{{ termo|default('') }}">
        <input type="submit" value="🔍">

        <ul id="suggestions"></ul>
    </form>

        {% if emprestimos %}
        <ul>
            {% for emp in emprestimos %}
            <li>
                <h3>{{ emp.livros.titulo }}</h3>
                <p>{{ emp.livros.autor }} ({{ emp.livros.ano }})</p>
                <span class="reservado">Emprestado para {{ emp.aluno }} ({{ emp.turma }})</span>
                <a href="#" class="btn" onclick="
                    if (confirm('Tem certeza que deseja liberar este livro?')) {
                        fetch('{{ url_for('liberar', emprestimo_id=emp.id) }}', { method: 'POST' })
                        .then(() => location.reload());
                    }">Liberar</a>
                <a class="btn" href="{{ url_for('atualizar', livro_id=emp.livro_id) }}">Atualizar Livro</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhum livro está emprestado no momento.</p>
        {% endif %}
    </div>

    <script>
       const input = document.querySelector('input[name="q"]');
    const suggestions = document.getElementById('suggestions');
    input.addEventListener('input', async () => {
        const termo = input.value;
        if (!termo) { suggestions.style.display='none'; suggestions.innerHTML=''; return; }
        const res = await fetch(`/autocomplete?q=${termo}`);
        const data = await res.json();
        suggestions.innerHTML='';
        if (data.length>0){
            data.forEach(item => {
                const li = document.createElement('li');
                li.textContent = item;
                li.onclick = ()=>{ input.value=item; suggestions.style.display='none'; };
                suggestions.appendChild(li);
            });
            suggestions.style.display='block';
        } else { suggestions.style.display='none'; }
    });

    function excluirLivro(livroId){
        if(confirm('Tem certeza que deseja excluir este livro?')){
            fetch('/excluir/' + livroId, { method:'POST' })
            .then(()=>location.reload());
        }
    }
    </script>
</body>

</html>