<!DOCTYPE html>
<html>

<head>
    <title>Reservar Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Reservar / Emprestar Livro</h1>
        <h3>{{ livro["titulo"] }}</h3>
        <p>{{ livro["autor"] }} ({{ livro["ano"] }})</p>

        <form method="post">
            <input type="text" name="aluno" placeholder="Nome do Aluno" required>
            <label for="turma">Selecione a Turma:</label>
            <select name="turma" required>
                {% for i in range(1, turmas|length + 1) %}
                <option value="{{ i }}">{{ turmas[i-1] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Confirmar">
        </form>

        <a class="btn" href="{{ url_for('index') }}">Cancelar</a>
    </div>
</body>

</html>